<!-- Header -->
<header>
  <div class="flex items-center justify-between py-4 px-8">
    <h1 routerLink="" class="text-4xl font-bold cursor-pointer hover:drop-shadow-2xl">Yummy</h1>
    <div class="hidden md:flex relative items-center justify-between gap-6 font-medium">
      <button>Login</button>
      <div class="relative">
        <button class="" (click)="hover()">Akshay &nbsp; <i class="fa-solid fa-caret-down"></i></button>
        <div [class.down]="isHover" class="absolute -bottom-20 opacity-0 text-black/60 transition-all duration-700">
          <p class="cursor-pointer hover:text-black">Profile</p>
          <p class="cursor-pointer hover:text-black">Orders</p>
          <p class="cursor-pointer hover:text-black">Logout</p>
        </div>
      </div>
      <button routerLink="cart-page" *ngIf="cartQuantity" class="relative">Cart <span class="absolute -top-5 -right-5 flex items-center justify-center bg-red-600 text-white w-6 h-6 rounded-full">{{cartQuantity}}</span></button>
    </div>

    <i class="fa-solid fa-burger text-2xl md:hidden"></i>
  </div>
</header>
